body {
  font-family: "Righteous", cursive;
}

form {
  top: 40px;
  left: 8px;
  font-family: "Chakra Petch", sans-serif;
  margin-top: 10px;
}

h1 {
  color: rgb(89, 139, 255);
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}

h1:hover {
  color: rgb(248, 106, 71);
  transition: all 200ms ease-in-out;
}

h2 {
  color: white;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 40px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: white;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  background: radial-gradient(
    673px at 10% 20%,
    rgb(255, 220, 163) 0%,
    rgb(129, 255, 239) 48.5%,
    rgb(139, 172, 251) 97.8%
  );

  margin: 10px auto;
  border-radius: 20px;
  padding: 20px 30px;
  min-width: 600px;
  max-width: 600px;
}

.current-location-button {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  border-color: white;
  font-family: "Chakra Petch", sans-serif;
  cursor: pointer;
  display: block;
  margin-left: 400px;
  margin-top: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  height: 96px;
  width: 96px;
  position: relative;
  left: 20px;
  bottom: 20px;
}

.currentTemp {
  color: rgb(89, 139, 255);
  font-size: 64px;
  font-weight: 800;
  line-height: 1;
  position: relative;
  left: 100px;
}

.units {
  color: rgb(89, 139, 255);
  font-size: 16px;
  position: relative;
  top: -32px;
  left: 100px;
}

.col-2 {
  background: rgba(180, 188, 231, 0.5);
  color: #67669b;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 2px 2px 1px rgba(255, 254, 210, 0.7);
  border-color: lightgray;
  margin: 10px 5px 10px 10px;
  position: relative;
  padding: 10px 5px 10px 5px;
}

.icon {
  opacity: 0.8;
}

.weather-forecast-date {
  font-size: 14px;
  color: white;
}

.weather-forecast-date:hover {
  color: rgb(248, 106, 71);
  transition: all 200ms ease-in-out;
}

.weather-forecast-max {
  font-size: 16px;
  font-weight: 900;
  color: rgb(89, 139, 255);
}

.weather-forecast-min {
  font-size: 16px;
  font-weight: 900;
  color: whitesmoke;
}

.name {
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}
